@model List<Producto>
@{
    ViewData["Title"] = "Lista de Productos";
}
@{
    User user = ViewBag.User as User;
    Console.WriteLine(user.CodigoAcceso);
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
@if (user.CodigoAcceso == 3)
{
    <h1 class="text-center" style="font-family: 'Times New Roman', Times, serif; padding: 20px 10px 10px">No Cuenta con Permisos en esta cuenta. Intente con otra.</h1>
}
else if (user.CodigoAcceso == 4)
{
    <div class="container custom-btn-color">
        <div class="row">
            <div class="col-4">
                <h1 text-white>Libros Con Limon Y Sal</h1>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:65px">Hogar</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Producto" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:65px">Productos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Eventos" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:65px">Eventos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:65px">Privacidad</button>
                </form>
            </div>
            <div class="col-2">
                <button>
                    <a class="nav-link text-white custom-background-color" style="height:60px" asp-controller="Login" asp-action="Index">Cerrar Sesion</a>
                </button>
            </div>
            <div class="col-2">
                <p>Que bueno verte de nuevo, @user.Nombres!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center" style="padding: 40px 50px 10px" ;>
            <div id="parallax-world-of-ugg">
                <section>
                    <div class="title">
                        <h1>Catalogo de Libros</h1>
                        <h3 style="padding: 40px 50px 10px">En esta página se muestran los libros disponibles</h3>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center" style="padding: 20px 10px 10px" ;>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdProducto</td>
                            <td><img src="@item.urlImage" height="100" width="100"></td>
                            <td>@item.Nombre</td>
                            <td>@item.Genero</td>
                            <td>@item.Cantidad</td>
                            <td class="centered-column" style="text-align: center">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a asp-action="Details" asp-route-IdProducto="@item.IdProducto" asp-route-IdUsuario="@user.IdUsuario" class="btn custom-btn-color"><i class="fa fa-eye" aria-hidden="true"></i> </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else if (user.CodigoAcceso == 2)
{
    <div class="container custom-btn-color">
        <div class="row">
            <div class="col-4">
                <h1 text-white>Libros Con Limon Y Sal</h1>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Hogar</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Producto" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Productos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Eventos" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Eventos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Privacidad</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Venta" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Rentas</button>
                </form>
            </div>
            <div class="col-1">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-controller="Login" asp-action="Index">Cerrar Sesion</a>
                </button>
            </div>
            <div class="col-2">
                <p>Que bueno verte de nuevo, @user.Nombres!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center" style="padding: 40px 50px 10px" ;>
            <h1 class="display-4">Catalogo de Libros</h1>
            <p>En esta página se muestran los libros disponibles</p>
        </div>
    </div>
    <div class="container">
        <div class="text-center" style="padding: 20px 10px 10px" ;>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdProducto</td>
                            <td><img src="@item.urlImage" height="100" width="100"></td>
                            <td>@item.Nombre</td>
                            <td>@item.Genero</td>
                            <td>@item.Cantidad</td>
                            <td class="centered-column" style="text-align: center">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a asp-action="Details" asp-route-IdProducto="@item.IdProducto" asp-route-IdUsuario="@user.IdUsuario" class="btn custom-btn-color"><i class="fa fa-eye" aria-hidden="true"></i> </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else if (user.CodigoAcceso == 1)
{
    <div class="container custom-btn-color">
        <div class="row">
            <div class="col-4">
                <h1 text-white>Libros Con Limon Y Sal</h1>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Hogar</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Producto" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Productos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Eventos" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Eventos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Privacidad</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="User" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Usuarios</button>
                </form>
            </div>
            <div class="col-1">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-controller="Login" asp-action="Index">Cerrar Sesion</a>
                </button>
            </div>
            <div class="col-2">
                <p>Que bueno verte de nuevo, @user.Nombres!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center" style="padding: 40px 50px 10px" ;>
            <h1 class="display-4">Catalogo de Libros</h1>
            <p>En esta página se muestran los libros disponibles</p>
        </div>
        <div class="text-center" style="padding: 10px 10px 10px" ;>
            <div class="text-center" style="padding: 10px 10px 10px" ;>
                <a asp-action="Create" asp-route-IdUsuario="@user.IdUsuario" class="btn custom-btn-color">Nuevo Libro </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center" style="padding: 20px 10px 10px" ;>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdProducto</td>
                            <td><img src="@item.urlImage" height="100" width="100"></td>
                            <td>@item.Nombre</td>
                            <td>@item.Genero</td>
                            <td>@item.Cantidad</td>
                            <td class="centered-column" style="text-align: center">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a asp-action="Details" asp-route-IdProducto="@item.IdProducto" asp-route-IdUsuario="@user.IdUsuario" class="btn custom-btn-color"><i class="fa fa-eye" aria-hidden="true"></i> </a>
                                    <a asp-action="Edit" asp-route-IdProducto="@item.IdProducto" asp-route-IdUsuario="@user.IdUsuario" class="btn custom-btn-color-2"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
                                    <a asp-action="Delete" asp-route-IdProducto="@item.IdProducto" asp-route-IdUsuario="@user.IdUsuario" class="btn custom-btn-color-3"><i class="fa fa-times" aria-hidden="true"></i> </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}