@model User
@{
    ViewData["Title"] = "Home Page";
}
@{
    User user = ViewBag.User as User;
}
<input type="hidden" name="CodigoAcceso" value="user.CodigoAcceso" />
    @if (user.CodigoAcceso == 3)
    {
        <h1 class="text-center" style="font-family: 'Times New Roman', Times, serif; padding: 20px 10px 10px">No Cuenta con Permisos en esta cuenta. Intente con otra.</h1>
    }
    else if (user.CodigoAcceso == 4)
    {
    <div class="container custom-btn-color">
        <div class="row">
            <div class="col-4">
                <h1 text-white>Libros Con Limon Y Sal</h1>
            </div>
            <div class="col-1">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-area="" asp-controller="ProductoCliente" asp-action="Index">Producto</a>
                </button>
            </div>
            <div class="col-1">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-area="" asp-controller="EventosCliente" asp-action="Index">Eventos</a>
                </button>
            </div>
            <div class="col-1">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
                </button>
            </div>
            <div class="col-2">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-area="" asp-controller="Login" asp-action="Index">Cerrar Sesion</a>
                </button>
            </div>
            <div class="col-3">
                <p>Que bueno verte de nuevo, @user.Nombres!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <img src="https://s26162.pcdn.co/wp-content/uploads/2022/05/Best-Reviewed-Books.jpeg" class="card-img" alt="Libros">
        <div class="centered text-white " style="font-size:5vw">Biblioteca Libros con Limon y Sal</div>
    </div>
    }
    else if (user.CodigoAcceso == 2)
    {
    <div class="container custom-btn-color">
        <div class="row">
            <div class="col-4">
                <h1 text-white>Libros Con Limon Y Sal</h1>
            </div>
            <div class="col-1">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-area="" asp-controller="Producto" asp-action="Index">Producto</a>
                </button>
            </div>
            <div class="col-1">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-area="" asp-controller="Eventos" asp-action="Index">Eventos</a>
                </button>
            </div>
            <div class="col-1">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
                </button>
            </div>
            <div class="col-2">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-area="" asp-controller="Login" asp-action="Index">Cerrar Sesion</a>
                </button>
            </div>
            <div class="col-3">
                <p>Que bueno verte de nuevo, @user.Nombres!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <img src="https://s26162.pcdn.co/wp-content/uploads/2022/05/Best-Reviewed-Books.jpeg" class="card-img" alt="Libros">
        <div class="centered text-white " style="font-size:5vw">Biblioteca Libros con Limon y Sal: Ventas</div>
    </div>
    }
else if (user.CodigoAcceso == 1)
{
    <div class="container custom-btn-color">
        <div class="row">
            <div class="col-4">
                <h1 text-white>Libros Con Limon Y Sal</h1>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <input type="hidden" name="User" value="@user" />
                    <input type="hidden" name="Destino" value="3" />
                    <button type="submit" class="nav-link text-white custom-background-color">Producto</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <input type="hidden" name="IdUsuario" value="@Model.IdUsuario" />
                    <input type="hidden" name="Cedula" value="@Model.Cedula" />
                    <input type="hidden" name="Nombres" value="@Model.Nombres" />
                    <input type="hidden" name="Apellidos" value="@Model.Apellidos" />
                    <input type="hidden" name="Clave" value="@Model.Clave" />
                    <input type="hidden" name="CodigoAcceso" value="@Model.CodigoAcceso" />
                    <input type="hidden" name="HaRetirado" value="@Model.HaRetirado" />
                    <input type="hidden" name="IdLibroRetirado" value="@Model.IdLibroRetirado" />
                    <input type="hidden" name="Destino" value="4" />
                    <button type="submit" class="nav-link text-white custom-background-color">Eventos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <input type="hidden" name="IdUsuario" value="@Model.IdUsuario" />
                    <input type="hidden" name="Cedula" value="@Model.Cedula" />
                    <input type="hidden" name="Nombres" value="@Model.Nombres" />
                    <input type="hidden" name="Apellidos" value="@Model.Apellidos" />
                    <input type="hidden" name="Clave" value="@Model.Clave" />
                    <input type="hidden" name="CodigoAcceso" value="@Model.CodigoAcceso" />
                    <input type="hidden" name="HaRetirado" value="@Model.HaRetirado" />
                    <input type="hidden" name="IdLibroRetirado" value="@Model.IdLibroRetirado" />
                    <input type="hidden" name="Destino" value="2" />
                    <button type="submit" class="nav-link text-white custom-background-color">Privacidad</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <input type="hidden" name="IdUsuario" value="@Model.IdUsuario" />
                    <input type="hidden" name="Cedula" value="@Model.Cedula" />
                    <input type="hidden" name="Nombres" value="@Model.Nombres" />
                    <input type="hidden" name="Apellidos" value="@Model.Apellidos" />
                    <input type="hidden" name="Clave" value="@Model.Clave" />
                    <input type="hidden" name="CodigoAcceso" value="@Model.CodigoAcceso" />
                    <input type="hidden" name="HaRetirado" value="@Model.HaRetirado" />
                    <input type="hidden" name="IdLibroRetirado" value="@Model.IdLibroRetirado" />
                    <input type="hidden" name="Destino" value="5" />
                    <button type="submit" class="nav-link text-white custom-background-color">Usuarios</button>
                </form>
            </div>
            <div class="col-2">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-controller="Login" asp-action="Index">Cerrar Sesion</a>
                </button>
            </div>
            <div class="col-2">
                <p>Que bueno verte de nuevo, @Model.Nombres!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <img src="https://s26162.pcdn.co/wp-content/uploads/2022/05/Best-Reviewed-Books.jpeg" class="card-img" alt="Libros">
        <div class="centered text-white " style="font-size:5vw">Biblioteca Libros con Limon y Sal: Admin</div>
    </div>
}
