@{
    ViewData["Title"] = "Home Page";
}
@{
    User user = ViewBag.User as User;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/system.text.json/6.0.1/system.text.json.min.js"></script>
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<input type="hidden" name="CodigoAcceso" value="user.CodigoAcceso" />
    @if (user.CodigoAcceso == 3)
    {
        <h1 class="text-center" style="font-family: 'Times New Roman', Times, serif; padding: 20px 10px 10px">No Cuenta con Permisos en esta cuenta. Intente con otra.</h1>
    }
    else if (user.CodigoAcceso == 4)
    {
    <div class="container custom-btn-color">
        <div class="row">
            <div class="col-4">
                <h1 text-white>Libros Con Limon Y Sal</h1>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:65px">Hogar</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Producto" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:65px">Productos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Eventos" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:65px">Eventos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:65px">Privacidad</button>
                </form>
            </div>
            <div class="col-2">
                <button>
                    <a class="nav-link text-white custom-background-color" style="height:60px" asp-controller="Login" asp-action="Index">Cerrar Sesion</a>
                </button>
            </div>
            <div class="col-2">
                <p>Que bueno verte de nuevo, @user.Nombres!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="parallax-world-of-ugg">
            <section>
                <div class="title">
                    <h3>Biblioteca</h3>
                    <h1>Libros Con Limon y Sal</h1>
                </div>
            </section>

            <section>
                <div class="parallax-one">
                    <h2>Informacion</h2>
                </div>
            </section>

            <section>
                <div class="block">
                    <p><span class="first-character sc">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec vehicula nunc. Sed porttitor tellus lectus. Sed ligula magna, efficitur commodo ante ac, dictum cursus risus. Nulla nec fringilla quam. Curabitur in augue ultrices, aliquam nisi eu, porta augue. Etiam vel auctor ligula. Ut dui ipsum, tincidunt a nisi a, mollis euismod neque. </p>
                    <p class="line-break margin-top-10"></p>
                    <p class="margin-top-10">Vivamus scelerisque viverra magna eget rhoncus. Vivamus tincidunt nec eros a efficitur. Morbi ipsum dui, scelerisque sed tincidunt et, tempor eget augue. Sed libero nibh, cursus luctus erat nec, imperdiet faucibus ligula. Curabitur quis nulla eget ligula viverra vulputate. Donec ut ornare nibh. Sed dolor nunc, fringilla eu ipsum bibendum, congue vulputate magna. Fusce quis neque eu tortor vehicula blandit sit amet ultricies nisl. Integer ullamcorper risus tempor sagittis faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc hendrerit dignissim consectetur. In tristique elit quis lacus pharetra congue. Phasellus efficitur urna sed nisi pulvinar, a ultricies diam pretium. Etiam rhoncus in massa eget hendrerit. </p>
                </div>
            </section>

            <section>
                <div class="parallax-two">
                    <h2>MISION</h2>
                </div>
            </section>

            <section>
                <div class="block">
                    <p><span class="first-character ny">A</span>liquam erat volutpat. Donec sed semper neque. Cras vel dolor ipsum. Nam non nisl et diam lacinia maximus. Mauris commodo feugiat libero, ac euismod diam lobortis sed. Curabitur nec quam nec elit venenatis sodales ultrices eget neque. Vivamus efficitur pulvinar massa ut tempor. Proin fermentum sollicitudin urna sed consectetur. Aliquam id felis velit. Phasellus in ligula ac metus venenatis tempus vitae ut justo. </p>
                </div>
            </section>

            <section>
                <div class="parallax-three">
                    <h2>VISION</h2>
                </div>
            </section>

            <section>
                <div class="block">
                    <p><span class="first-character atw">S</span>ed a malesuada enim. Aliquam suscipit tellus luctus nunc aliquet bibendum. Sed risus eros, porta vel feugiat eget, sagittis ut quam. Aenean molestie pretium consequat. Aliquam nibh massa, condimentum vel nibh vitae, pulvinar pretium lacus. Praesent sollicitudin fringilla lacus ut finibus. Donec vitae varius magna. Nunc convallis semper velit, eu commodo velit maximus ut. Proin augue sem, vestibulum ut elit pretium, sodales ornare elit. Nam et erat in massa convallis molestie. </p>
                </div>
            </section>
        </div>
    </div>
    }
    else if (user.CodigoAcceso == 2)
    {
    <div class="container custom-btn-color">
        <div class="row">
            <div class="col-4">
                <h1 text-white>Libros Con Limon Y Sal</h1>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Hogar</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Producto" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Productos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Eventos" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Eventos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Privacidad</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Venta" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Rentas</button>
                </form>
            </div>
            <div class="col-1">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-controller="Login" asp-action="Index">Cerrar Sesion</a>
                </button>
            </div>
            <div class="col-2">
                <p>Que bueno verte de nuevo, @user.Nombres!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <img src="https://s26162.pcdn.co/wp-content/uploads/2022/05/Best-Reviewed-Books.jpeg" class="card-img" alt="Libros">
        <div class="centered text-white " style="font-size:5vw">Biblioteca Libros con Limon y Sal: Vendedor</div>
    </div>
    }
else if (user.CodigoAcceso == 1)
{
    <div class="container custom-btn-color">
        <div class="row">
            <div class="col-4">
                <h1 text-white>Libros Con Limon Y Sal</h1>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Hogar</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Producto" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Productos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Eventos" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Eventos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Privacidad</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="User" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color" style="height:69px">Usuarios</button>
                </form>
            </div>
            <div class="col-1">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-controller="Login" asp-action="Index">Cerrar Sesion</a>
                </button>
            </div>
            <div class="col-2">
                <p>Que bueno verte de nuevo, @user.Nombres!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <img src="https://s26162.pcdn.co/wp-content/uploads/2022/05/Best-Reviewed-Books.jpeg" class="card-img" alt="Libros">
        <div class="centered text-white " style="font-size:5vw">Biblioteca Libros con Limon y Sal: Admin</div>
    </div>
}
