@{
    ViewData["Title"] = "Privacidad";
}
@{
    User user = ViewBag.User as User;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/system.text.json/6.0.1/system.text.json.min.js"></script>
@if (user.CodigoAcceso == 3)
{
    <h1 class="text-center" style="font-family: 'Times New Roman', Times, serif; padding: 20px 10px 10px">No Cuenta con Permisos en esta cuenta. Intente con otra.</h1>
}
else if (user.CodigoAcceso == 4)
{
    <div class="container custom-btn-color">
        <div class="row">
            <div class="col-4">
                <h1 text-white>Libros Con Limon Y Sal</h1>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Producto" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color">Productos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Eventos" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color">Eventos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color">Privacidad</button>
                </form>
            </div>
            <div class="col-2">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-controller="Login" asp-action="Index">Cerrar Sesion</a>
                </button>
            </div>
            <div class="col-2">
                <p>Que bueno verte de nuevo, @user.Nombres!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 style="padding: 20px 10px 10px">@ViewData["Title"]</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis quam sed congue laoreet. Etiam eget diam mauris. Sed nibh ligula, malesuada nec nulla a, tristique eleifend mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla vitae magna sapien. Vivamus magna leo, sagittis sed nulla vitae, eleifend rhoncus ipsum. Integer vel orci quis enim euismod varius ac nec tortor. Donec tincidunt eu diam eget posuere. Suspendisse nisl est, efficitur sed mauris quis, ullamcorper placerat neque. Nulla ut feugiat nibh. Aliquam blandit odio ac eleifend accumsan. Curabitur vulputate fermentum lectus, suscipit gravida ipsum molestie ut.</p>

    </div>
}
else if (user.CodigoAcceso == 2)
{
    <div class="container custom-btn-color">
        <div class="row">
            <div class="col-4">
                <h1 text-white>Libros Con Limon Y Sal</h1>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Producto" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color">Productos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Eventos" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color">Eventos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color">Privacidad</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Venta" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color">Renta</button>
                </form>
            </div>
            <div class="col-2">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-controller="Login" asp-action="Index">Cerrar Sesion</a>
                </button>
            </div>
            <div class="col-2">
                <p>Que bueno verte de nuevo, @user.Nombres!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 style="padding: 20px 10px 10px">@ViewData["Title"]</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis quam sed congue laoreet. Etiam eget diam mauris. Sed nibh ligula, malesuada nec nulla a, tristique eleifend mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla vitae magna sapien. Vivamus magna leo, sagittis sed nulla vitae, eleifend rhoncus ipsum. Integer vel orci quis enim euismod varius ac nec tortor. Donec tincidunt eu diam eget posuere. Suspendisse nisl est, efficitur sed mauris quis, ullamcorper placerat neque. Nulla ut feugiat nibh. Aliquam blandit odio ac eleifend accumsan. Curabitur vulputate fermentum lectus, suscipit gravida ipsum molestie ut.</p>

    </div>
}
else if (user.CodigoAcceso == 1)
{
    Console.WriteLine(user.ToString);
    <div class="container custom-btn-color">
        <div class="row">
            <div class="col-4">
                <h1 text-white>Libros Con Limon Y Sal</h1>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Producto" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color">Producto</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Eventos" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color">Eventos</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color">Privacidad</button>
                </form>
            </div>
            <div class="col-1">
                <form method="post" asp-area="" asp-controller="User" asp-action="Index">
                    <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
                    <button type="submit" class="nav-link text-white custom-background-color">Usuarios</button>
                </form>
            </div>
            <div class="col-2">
                <button>
                    <a class="nav-link text-white custom-background-color" asp-area="" asp-controller="Login" asp-action="Index">Cerrar Sesion</a>
                </button>
            </div>
            <div class="col-2">
                <p>Que bueno verte de nuevo, @user.Nombres!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 style="padding: 20px 10px 10px">@ViewData["Title"]</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis quam sed congue laoreet. Etiam eget diam mauris. Sed nibh ligula, malesuada nec nulla a, tristique eleifend mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla vitae magna sapien. Vivamus magna leo, sagittis sed nulla vitae, eleifend rhoncus ipsum. Integer vel orci quis enim euismod varius ac nec tortor. Donec tincidunt eu diam eget posuere. Suspendisse nisl est, efficitur sed mauris quis, ullamcorper placerat neque. Nulla ut feugiat nibh. Aliquam blandit odio ac eleifend accumsan. Curabitur vulputate fermentum lectus, suscipit gravida ipsum molestie ut.</p>

    </div>
}
