@model List<Eventos>
@{
    ViewData["Title"] = "Lista de Eventos";
}
@{
    User user = ViewBag.User as User;
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<div class="text-center" style="padding: 40px 50px 10px" ;>
    <h1 class="display-4">Lista Eventos</h1>
    <p>En esta página se muestran los eventos disponibles</a>.</p>
</div>
<div class="text-center" style="padding: 10px 10px 10px" ;>
    <button type="submit" class="btn custom-btn-color" onclick="location.href='@Url.Action("Create", "Eventos")'">Nuevo Evento</button>
</div>
<div class="text-center" style="padding: 20px 10px 10px" ;>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id Evento</th>
                <th scope="col">Nombre Evento</th>
                <th scope="col">Dia Evento</th>
                <th scope="col">Expositores</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                DateTime now = DateTime.Now;
                now = new DateTime(now.Year, now.Month, now.Day, 0,0,0);
                if (item.diaEvento > now)
                {
                    <tr>
                        <td>@item.idEvento</td>
                        <td>@item.NombreEvento</td>
                        <td>@item.diaEvento</td>
                        <td>@item.Expositores</td>
                        <td class="centered-column" style="text-align: center">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a asp-action="Details" asp-route-idEvento="@item.idEvento" class="btn custom-btn-color"><i class="fa fa-eye" aria-hidden="true"></i> </a>
                                <a asp-action="Edit" asp-route-idEvento="@item.idEvento" class="btn custom-btn-color-2"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
                                <a asp-action="Delete" asp-route-idEvento="@item.idEvento" class="btn custom-btn-color-3"><i class="fa fa-times" aria-hidden="true"></i> </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>